<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="x-apple-disable-message-reformatting">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <title>Email Notification</title>
</head>

<body class="body-wrapper" style="margin: 0;">
    <table class="table-wrapper"
        style="background: #F2F2F2; border-spacing: 0; color: #464646; font-family: 'Poppins','Helvetica','Arial',sans-serif; font-weight: 400; margin: 0; text-decoration: none; width: 100%;">
        <tbody>
            <tr class="background-wrapper"
                style="background-repeat: no-repeat; background-size: 100% 200px;">
                <td>
                    <table align="center">
                        <tbody>
                            <tr class="text-center" style="text-align: center;">
                                <td class="header-image" style="padding: 5px 0;">
                                    <img alt="" height="50"
                                        src="">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table align="center" class="content-wrapper"
                                        style="background: #FFF; border-radius: 6px; padding: 20px; width: 600px;">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <img alt="Infineon-Logo" width="20%" style="padding:20px;"
                                                    src="https://www.infineon.com/frontend/release_2023-05-1/dist/resources/img/logo-desktop-en.png"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="custom-font" style="font-family: 'Poppins','Helvetica','Arial',sans-serif;">
                                                    <h4>Hi {{ username }},</h4>
                                                    <p>
                                                        This is an email notification to inform that you have a loan that must be returned 
                                                        by the date of {{ date_returned }}, the details of loan must be returned is:
                                                    </p>
                                                    <hr style="margin-top:24px;border:0;border-bottom:1px solid #c1c7d0">
                                                    <p>
                                                        <table align="left" width="100%" style="padding: 0 50px;">
                                                            <tr>
                                                                <td align="center">Product Name</td>
                                                                <td align="center">Qty</td>
                                                                <td align="center">Loan Date</td>
                                                                <td align="center">Due Date</td>
                                                            </tr>
                                                            <tbody>
                                                                {% for order in order_ids %}
                                                                    <tr>
                                                                        <td>{{ order['product_name']}}</td>
                                                                        <td>{{ order['qty']}}</td>
                                                                        <td>{{ order['loan_date']}}</td>
                                                                        <td>{{ order['due_date']}}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="custom-font" style="font-family: 'Poppins','Helvetica','Arial',sans-serif;">
                                                    <p>
                                                        Please immediately return all collection that are due to the IT Department. If you have any complaints regarding this notification, please contact our circulation desk.
                                                    </p>
                                                    
                                                    <p>Thank you</p>
                                                    <br/><br/>
                                                    <p class="heading-title" style="color: #005da9; font-weight: 700;">
                                                        IT Team
                                                    </p>
                                                    <br/>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table align="center" class="bottom-wrapper"
                        style="text-align: center; width: 600px;">
                        <tbody>
                            <tr>
                                <td class="custom-font" style="font-family: 'Poppins','Helvetica','Arial',sans-serif;">
                                    <h5 class="bottom-text" style="font-weight: 400;">
                                        Copyright © {{current_year}} PT. Infineon Technologies Batam, All rights
                                        reserved.<br/><br/>
                                        <strong>PT. Infineon Technologies Batam</strong><br>
                                        Batamindo Industrial Park Lot. 317, Kabil, Jl. Beringin, Muka Kuning, Kec. Sei Beduk, Kota Batam, Kepulauan Riau 29433 - 
                                        Indonesia
                                    </h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>